body {
    margin: 0;
    background-color: #cccc;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 60px;

}